@media screen and (min-width: 867px) {

    #searchInput {
        width: 440px;
    }

}

@media screen and (max-width: 867px) {

    .card {
        width: 12.5rem;
    }

      #searchInput {
        width: 440px;
        padding: 10px;
    }

  }

@media screen and (max-width: 592px) {

    /* .up-content {
        min-height: 24vh;
    } */

    .task-container{
        width: 100%;
    }
    .cards-container {
        height: 60vh; /* Ограничиваем высоту */
        overflow-y: auto; /* Прокрутка по вертикали */
        padding: 10px;
        /* gap: 5px; */
        width: 60%;
        box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, 0.3);
        justify-content: center;
      }

    .search-container {
        padding: 0 1.25rem 0.5rem;
    }

      #searchInput {
        width: 262px;
        padding: 10px;
        font-size: 16px;
    }

    .home-p {
       font-size: smaller;
       margin: 1.25rem 0 0.5rem;
      }

    .author {
        margin-right: 10px;
    }

    .contacts {
        margin-left: 10px;
    }


  }

@media screen and (max-width: 530px) {

    .card {
        width: 11.5rem;
    }

      #searchInput {
        width: 250px;
        padding: 10px;
        font-size: 16px;
    }

    #task-form input {
        display: block;
        width: 100%;
    }

    #task-form label {
        font-size: 0.8rem;
    }

    html {
        font-size: 17px;
    }
/*
    .up-content {
        min-height: 20vh;
    } */

    #task-form button {
        font-size: smaller;
    }

    #showFormulaBtn {
        width: 13.125rem;
    }

    .card-title{
        font-size: 1.6rem;
    }

    .pepe-cry {
        width: 400px;
        height: auto;
    }
  }

@media screen and (max-width: 425px) {

    .cards-container {
        width: 75%;
        }

    .pepe-cry {
        width: 350px;
    }

    #modalButtons button {
        font-size: smaller;
        padding: 1.25rem 2rem;
    }
}

@media screen and (max-width: 343px) {

    .home-p {
        font-size: small;
       }

    .home-title {
        font-size: 2rem;
    }

    .card {
        width: 9rem;
    }

    #searchInput {
        width: 180px;
        padding: 10px;
        font-size: 16px;
    }

    html {
        font-size: 13px;
    }

    .pepe-cry {
        width: 300px;
    }


  }
